*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.container {
            /* width: 1152px;  */
            width: 1000px;
            margin: auto;
            background-image: url(gambar/latar5.png);
            background-repeat:no-repeat;
            background-position:top;

            /* background: rgb(6,6,88); */
            /* background: linear-gradient(90deg, rgba(6,6,88,1) 0%, rgba(2,0,36,1) 0%, rgba(201,104,193,0.227328431372549) 0%, rgba(2,24,60,1) 100%, rgba(0,212,255,1) 100%); */


}

.menu {
    font-size: 20px;
    display: flex; 
    justify-content: flex-end;
}

.mobile-menu{
    float: right;
    
}

  /* Menghilangkan garis bawah pada tulisan menu */
a {
    text-decoration: none;
} 
/* ------------------------------------------------ */
a:hover {
    color: #C70039;
} 

a{
    transition: .3s;
    color:black;
}

ul {
    margin-top: 20px;
}

ul li{
    display: inline;
    margin-right: 35px;
    margin-top: 35px;
}

h1{
    color: aqua;
}

h4{
    color:#EB984E;
}
@media only screen and (max-width: 700px){
    h4{
        color: #F7DC6F;
    }
}


/* MULAI HERO */

.hero {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    /* background-color:#ABEBC6 ; */ 
}

.hero-text h1, .hero-text h4 {
    margin-bottom: 20px;
}

.hero-text{
    width: 500px;
}

.hero-text h1 {
    font-size: 44px;
    font-weight: bold;
    line-height: 60px;
}

.hero-text h4 {
    font-size: 16px;
    font-weight: 300px;
}

.hero-text button {
    font-size: 15px;
    background-color:#5DADE2;
    padding: 15px 15px;
    border: none;
    border-radius: 15px;
}

/* POST */

.post {
    /* background-color:whitesmoke;  */
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,195,253,0.3085609243697479) 41%, rgba(30,195,252,1) 100%, rgba(33,195,250,1) 100%, rgba(45,194,240,1) 100%, rgba(252,176,69,1) 100%);
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
    margin-top: 240px;
}

.post-head {
    display: flex;
    justify-content: space-between;
}

.post-head h3, .fitur h3 {
    font-size: 22px;
    font-weight: 500;
    line-height: 60px;
    color: #800080;
}

.post-head a {
    text-decoration: none;
    color:maroon;
    font-size: 17px;
}

.post-body {
    display: flex;
    gap: 20px;
    color: #0E6655;
}

.post-body-detail {
    /* background-color: #FFFFFF; */
    padding: 20px 25px;
    border-radius: 10px;
    background: rgb(86,143,171);
    background: radial-gradient(circle, rgba(86,143,171,1) 4%, rgba(131,241,10,0.8883928571428571) 10%, rgba(63,94,251,0.5494572829131652) 27%, rgba(63,94,251,0.4290091036414566) 43%, rgba(252,70,107,0.03405112044817926) 60%, rgba(63,94,251,1) 96%, rgba(63,94,251,1) 100%);
}

.post-body-detail h2 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
}

.post-body-info, .post-body-detail p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 32px;
}

/* FITUR */
.fitur {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,195,253,0.3085609243697479) 41%, rgba(30,195,252,1) 100%, rgba(33,195,250,1) 100%, rgba(45,194,240,1) 100%, rgba(252,176,69,1) 100%);
    padding: 30px 70px;
    margin-top:auto; 
}

.fitur-detail {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #F9E79F;
}

.fitur-detail h2 {
    font-size: 30px;
    line-height: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    color:#797D7F;
}

.fitur-detail label:first-of-type {
    background-color: #F7DC6F;
    color:#C70039;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 15px;
}

.fitur-detail label {
    color: #4A235A;
    font-size: 25px;
}

.fitur-detail p {
    margin-top: 30px;
    font-size: 16px;
    color: #7D6608;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content:center;
}

.social-media-icon {
    display: flex;
    gap: 70px;
    margin-bottom: 15px;
}

.copyright {
    text-align: center;
    font-size: 14px;
    color: #21243D;
    margin-bottom: 20px;
}

.footer{
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,227,233,0) 100%);
}


@media only screen and (max-width: 700px){
    .container {
        width: 100%;
        margin: auto;
        padding: 0 10px;
        background: rgb(115, 197, 142);
        background: radial-gradient(circle, rgba(63,94,251,0.5494572829131652) 13%, rgba(252,70,107,1) 35%, rgba(63,94,251,1) 47%, rgba(252,70,107,1) 60%, rgba(63,94,251,0.4290091036414566) 78%);
    }

/* coba warna tulisan saat layar 700px*/
@media only screen and (max-width: 700px){
    a{
        color: #186A3B;
    }
}

/* batas coba */
    .hero {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 100px;
    }

    .hero-text{
        width: 100%;
    }

    .hero-image {
        display: flex;
        justify-content: center;
    }

    .hero-text {
        text-align: center;
    }


    /* start post mobile */
    .post {
        padding: 15px 35px;
    }
    .post-body {
        display: flex;
        flex-direction: column;
    }

    .fitur-detail {
        display: flex;
        flex-direction: column;
    }

    .fitur-detail-image img {
        width: 100%;
    }

    .menu {
        justify-content: center;
    }
}


     
     